/* Estilos personalizados */
.comment-input {
  position: fixed;
  top: 30px;
  bottom: 5px;
  right: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
}

.comment-input input {
  flex: 1;
  padding: 10px;
  border: 15px solid #ffffff;
  border-radius: 5px;
}

.comment-input button {
  padding: 10px 15px;
  background-color: #5DE890;
  color: white;
  border: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-input button:hover {
  background-color: rgb(118, 69, 225);
}

.carousel-container {
  width: 101.2%;
  height: auto;
  background-image: url("imagenes/Back.jpeg");
  margin-bottom: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 15px 10px rgba(46, 175, 210, 1.5);
}

/* Estilos para el navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: #5DE890 !important;
}

.container_hed {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: auto;
  align-items: center;
}

.owl-carousel .owl-item img {
  border-radius: 10px;
  border: 2px rgb(92, 248, 240) !important;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: cover;
}

.navbar-brand img {
  width: 120px;
}

.search-input {
  width: 50% !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos personalizados para los elementos del navbar */
.custom-item {
  flex: 1; /* Para que los elementos ocupen el mismo espacio horizontal */
  text-align: center;
}

.custom-link {
  color: black;
  display: block;
  padding: 10px;
}

.custom-link:hover {
  color: #458BDE;
  font-weight: bold;
  text-decoration: none;
}

.custom-link.active {
  color: #458BDE;
  font-weight: bold;
  text-decoration: underline;
}

.Subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 30px 0;
  color: #458BDE;
}

.footer {
  background-color: #5DE890;
  padding: 20px 0;
  color: black;
  text-align: center;
}

/* Estilos para las tarjetas de producto */
.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1 1 calc(33.333% - 10px);
  /* Estilo personalizado para las tarjetas */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  text-align: center;
}

/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 10px);
  }

  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .card {
    flex: 1 1 100%;
  }
}
