.v54808_184 {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 33px;
  overflow: hidden;
}

.v54811_207 {
  width: 249px;
  height: 158px;
  background: url("imagenes/v54811_207.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}

.v54808_195 {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 249px;
  overflow: hidden;
}

.v54808_196 {
  width: 942px;
  height: 81px;
  background: rgba(137, 232, 39, 1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 75px;
  border-radius: 5px;
  overflow: hidden;
}

.v54808_202,
.v54813_213,
.v54813_214 {
  width: 299px;
  color: rgba(249, 247, 247, 1);
  position: absolute;
  font-family: Playball;
  font-weight: normal;
  font-size: 66px;
  opacity: 1;
  text-align: center;
}

.v54808_202 {
  top: 72px;
  left: 371px;
}

.v54813_213 {
  top: 72px;
  left: 107px;
}

.v54813_214 {
  top: 72px;
  left: 679px;
}

.v54813_208 {
  width: 67px;
  height: 65px;
  background: url("imagenes/v54808_182.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 918px;
  overflow: hidden;
}



comment-input {
  position: fixed;
  top: 30px;
  bottom: 5px;
  right: 20px;
  z-index: 100;
  display: flex;
  align-items: center;
}

.comment-input input {
  flex: 1;
  padding: 10px;
  border: 15px solid #ffffff;
  border-radius: 5px;
}

.comment-input button {
  padding: 10px 15px;
  background-color: rgba(137,232,39,1);
  color: white;
  border: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-input button:hover {
  background-color: rgb(118, 69, 225);
}

.carousel-container {
  width: 101.2%;
  height: auto;
  background-image: url("imagenes/Back.jpeg");
  /* Espacio entre el carrusel y la barra de navegación */
  margin-bottom: 30px;
  /* Espacio entre el carrusel y la parte inferior de la página */
  border: 2px solid #ccc;
  /* Añadir un contorno alrededor del carrusel */
  border-radius: 5px;
  /* Añadir bordes redondeados */
  padding: 5px;
  /* Añadir espacio interno alrededor del carrusel */
  box-shadow: 0px 15px 10px rgba(46, 175, 210, 1.5);
}

owl-carousel .owl-item img {
  border-radius: 10px;
  /* Bordes redondeados */
  border: 2px rgb(92, 248, 240) !important;
  max-width: 100%;
  /* Ajuste del ancho máximo de las imágenes */
  max-height: auto;
  /* Ajuste de la altura máxima de las imágenes */
  width: auto;
  /* Ajuste del ancho automático */
  height: auto;
  /* Ajuste de la altura automática */
  object-fit: cover;
  /* Para que la imagen se ajuste dentro del contenedor sin perder su relación de aspecto */
}
.container_hed {
  display: flex;
  align-items: center;
  margin-bottom: 0; /* Elimina cualquier margen inferior */
}

.bg-custom {
  background-color: transparent !important;
}

.navbar {
  width: 100%; /* Ancho completo */
  max-width: 700px; /* Ancho máximo deseado */
  align-items: center;
  border-radius: 5px;
}

#navbarNav {
  background-color: rgba(137, 232, 39, 1) !important;
  border-radius: 5px;
}

.navbar-brand img {
  border-left: 25px;
  border-left-color: #ffffff;
  width: 200px; /* Ajusta el tamaño de tu logotipo según sea necesario */
}

.search-input {
  width: 275px !important; 
  height: 40px;
  font-style: normal;
}

#searchResults {
  margin-top: 20px;
}

#searchResults .tarjeta-producto {
  display: inline-block;
  margin: 10px;
}

#searchImage {
  width: 35px; /* Ajusta el tamaño de la imagen de búsqueda */
  height: 35px; /* Ajusta el tamaño de la imagen de búsqueda */
  cursor: pointer; /* Cambia el cursor a puntero cuando se pasa sobre la imagen */
}

/* Estilos para las barras de navegación */
.navbar {
  margin-bottom: 5 !important; /* Elimina el margen inferior */
  padding-bottom: 5 !important; /* Elimina el padding inferior */
}

.mt-3 {
  margin-top: 0.5rem !important; /* Reduce el margen superior */
}

/* Resto de tus estilos */
.navbar-nav .custom-item .nav-link {
  transition: color 0.3s;
  margin-right: 20px;
  font-size: 45px;
  font-family: Playball;
  font-weight: bold;
  color: white;
  opacity: 1;
  text-align: center;
  position: relative; /* Necesario para el pseudo-elemento */
  -webkit-text-stroke: 1px black; /* Grosor y color del borde */
  text-stroke: 1px black; /* Grosor y color del borde */
}

.navbar-nav .custom-item .nav-link::after {
  content: ''; /* Contenido vacío para el pseudo-elemento */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Altura del degradado */
  background: linear-gradient(to right, #add8e6, #d974f2);
  transform: scaleX(0); /* Inicialmente oculto */
  transform-origin: bottom left;
  transition: transform 0.3s ease; /* Animación de transición */
}

.navbar-nav .custom-item .nav-link:hover::after {
  transform: scaleX(1); /* Mostrar el degradado al pasar el cursor */
}

.navbar-nav .custom-item .nav-link:active {
  color: #ff0000;
}

/* Estilos para el carrusel */
.owl-carousel {
  width: 100%;
  background-image: "/imagenes/Back.jpeg" !important;
  margin-top: 10px;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #1bb125;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.tarjeta-producto {
  display: flex;
  align-items: center;
  background-color: white; /* Fondo blanco para la tarjeta de detalle */
  flex-direction: column;
  justify-content: space-between; /* Asegura que los botones se posicionen en la parte inferior */
  font-family: Playball;
  font-size: 20px;
  text-align: center;
  width: 260px;
  height: auto;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
}


.tarjeta-producto img {
  width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: contain; /* Asegura que la imagen se ajuste al contenedor */
  margin: 0;
  padding-top: 25px;
  display: block;
  background-color: white; /* Fondo blanco para la tarjeta de detalle */
}


.contenido {
  padding: 20px;
  text-align: center !important;
  background-color: white;
}


.Subtitle {
  margin-top: 15px;
  font-size: 60px;
  margin-bottom: 10;
  text-align: center;
  background: black;
  /* Cambia los colores según tu preferencia */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenido h2 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 50px;
}
.contenido h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contenido p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  background-color: white; /* Fondo blanco para la tarjeta de detalle */
}

.boton {
  background-color: #783eff;
  font-family: Playball;
  font-size: 20px;
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-container {
  margin-top: auto;
  text-align: center;
  position: relative;
  bottom: 10px;
  left: 0;
  right: 0;
}


.boton:hover {
  background-color: #344f6d;
}

.contenedor-tarjetas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Fondo para la tarjeta de detalle */
}

.footer {
  margin-top: 100px;
  border-top: 30px;
  background-color: rgba(137,232,39,1);
  background-size: cover;
  padding: 30px 0;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.footer .container .row {
  margin-left: -15px;
  margin-right: -15px;
}

.footer .container .row .col-md-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer h4 {
  font-size: 18px;
  color: #333;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #555;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #007bff;
}



@media only screen and (max-width: 768px) {
  .contenedor-tarjetas {
    flex-direction: column;
    align-items: center;
  }

  .tarjeta-producto {
    width: 90%;
    margin-bottom: 20px;
    background-color: white; /* Fondo blanco para la tarjeta de detalle */
  }

  .search-input {
    width: auto !important; 
    height: 40px;
    margin-left: 10px;
    font-style: normal;
  }
}
 /* -------- AQUI SE MODIFICA EL ESTILO DE LA TARJETA DE CUANDO SE AGREGA AL ADMIN -------- */
 .product-card {
  padding: 8px; /* Reducir el padding */
  margin-bottom: 10px; /* Reducir el margin-bottom */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px; /* Ancho máximo para limitar el tamaño de la tarjeta */
  background-color: white; /* Fondo blanco para la tarjeta de detalle */
}
.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px; /* Reducir el margin-bottom */
  background-color: white; /* Fondo blanco para la tarjeta de detalle */
}

.product-details {
  text-align: center;
}

.product-details h3 {
  margin-bottom: 12px; /* Reducir el margin-bottom */
  font-size: 16px; /* Reducir el font-size */
}

.product-details p {
  font-size: 14px; /* Reducir el font-size */
  color: #333;
  font-weight: bold;
  margin-bottom: 0;
}

